@model Domain.Settings.RoleUpdateViewDetails

@{
    ViewData["Title"] = "Role Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumb
{
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Role Management</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Edit Role</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>
                Edit Role
            </h5>
            <span class="d-block float-right">
                <a href="javascript:void(0);" class="badge badge-warning" onclick="javascript:history.go(-1);" data-toggle="tab" title="Go Back"><i class="mdi mdi-chevron-double-left"></i> Back</a>
            </span>
        </div>
        <div class="card-body">
            <form asp-area="CoreSetup" asp-controller="Role" asp-action="EditRoles" method="post" id="createRole">

                <div class="form-group">
                    <label asp-for="RoleName">Role Name <span class="text-danger">*</span></label>
                    <input asp-for="RoleName" class="form-control" disabled="disabled" />
                    <input type="hidden" asp-for="RoleId" />
                    <input type="hidden" asp-for="RoleName" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>

                @foreach (var roles in Model.RoleLists.Where(y => y.GroupName != "Dashboard").GroupBy(x => x.GroupName).Select(y => y.First()).Distinct())
                {
                    <div class="form-group">
                        <fieldset>
                            <strong class="m-b-15 d-block">@roles.GroupName</strong>
                            @foreach (var role in Model.RoleLists.Where(y => y.GroupName == roles.GroupName).OrderBy(x => x.SubGroupName))
                            {
                                <fieldset class="m-t-15">
                                    <legend><input type="checkbox" class="custom-checkbox checkAll"> @role.SubGroupName</legend>
                                    <div class="row">
                                        <div class="col-md-11 offset-md-1">
                                            <div class="row listing">
                                                @foreach (var roleLists in role.RoleDetails.OrderBy(x => x.MenuName))
                                                {
                                                    <div class="col-md-3 col-sm-4 listing-checkbox">
                                                        <div class="checkbox toggle-group">
                                                            <label>
                                                                @{
                                                                    if (Model.SelectedRoles.Contains(roleLists.Slug))
                                                                    {
                                                                        <input type="checkbox" class="toggle-checkbox checkRole" name="eachRoleValue" value="@roleLists.Slug" checked="checked">
                                                                        @roleLists.MenuName
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="checkbox" class="toggle-checkbox checkRole" name="eachRoleValue" value="@roleLists.Slug">
                                                                        @roleLists.MenuName
                                                                    }
                                                                }
                                                            </label>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            }
                        </fieldset>
                    </div>
                }
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                        <button type="submit" class="btn btn-primary">Update Role</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/coresetup/role-management.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var role = RoleManagement.role();
            role.renderManage();
        });
    </script>
}